<header class="top">
<h1>Posts</h1>
  <nav>
    <a href="/" class="indexlink Home">Home</a>
    <a href="/about" class="resumelink">Resume</a>
    <a href="/contact" class="contactlink">Contact</a>
    <a href="/posts" class="blog cur"> Blog </a>
   </nav>
</header>

<div class="blogposts">
  
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <h4><%= post.author %></h4>
    <p><%= post.body %></p>
    <%= render 'comments/comment', post: post %>

    <%= link_to 'Add a Comment', post_path(post.id) %>
    <%= link_to 'Edit post', edit_post_path(post.id) %>
    <%= link_to 'Delete Post', post, method: :delete %>
  <% end %>
<br>

<br>


  <%= link_to 'New Post', new_post_path %>
</div>
