<h1> New Post </h1>
<%= form_for @post do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>

  <%= f.label :author %>:
  <%= f.text_field :author %>
<% end %>
<%= form_for @post do |f|%>
  <%= f.label :body%>:
  <%= f.text_field :body, class: "bodytext", rows: "7"%>
  <%= f.submit %>
<% end %>
<%= render 'form' %>

<%= link_to 'Back', posts_path %>
